---
import clsx from "clsx";

const widths = {
  "1400": "max-w-screen-1400",
  "1200": "max-w-screen-1200",
  "920": "max-w-screen-920",
  "640": "max-w-screen-640",
};

type Props = {
  class?: string;
  width?: keyof typeof widths;
};

const { width = "1400", class: className } = Astro.props as Props;
---

<div class={clsx("mx-auto", widths[width], className)}>
  <slot />
</div>
