---
import clsx from "clsx";

type Props = {
  class?: string;
};

const { class: className } = Astro.props as Props;
---

<div class={clsx("grid gap-6 md:grid-cols-3 lg:grid-cols-4", className)}>
  <slot />
</div>
